Ion-footer {
  Ion-row {
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
    Ion-button {
      background: var(--ion-color-danger);
      --background: var(--ion-color-danger);
      border-radius: 50%;
      --border-radius: 50%;
      padding: 20px;
    }
  }
}
