/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-modal.ios {
  --height: calc(100% - (var(--ion-safe-area-top)) + 400px);
}

ion-modal::part(content) {
  background-color: #262626;
}

ion-modal::part(handle) {
  background-color: var(--ion-color-warning);
}

.ion-color-bronze {
  --ion-color-base: var(--ion-color-bronze);
  --ion-color-base-rgb: var(--ion-color-bronze-rgb);
  --ion-color-contrast: var(--ion-color-bronze-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bronze-contrast-rgb);
  --ion-color-shade: var(--ion-color-bronze-shade);
  --ion-color-tint: var(--ion-color-bronze-tint);
}

ion-alert.custom-alert {
}

.custom-alert .alert-button-group {
}

.custom-alert .alert-head .alert-title {
  color: var(--ion-color-warning);
}

.custom-alert .alert-input-group .alert-input-wrapper .alert-input {
  border-color: var(--ion-color-warning);
}

button.alert-button.alert-button-confirm {
}

.md button.alert-button.alert-button-confirm {
  color: var(--ion-color-warning);
}

.ios .custom-alert button.alert-button {
  color: var(--ion-color-warning);
}

.ios button.alert-button.alert-button-cancel {
}

.ios button.alert-button.alert-button-confirm {
}
